# Git
alias nah="git reset --hard && git clean -df"
alias gs="git status"
alias wip="git add . && git commit -m 'wip'"
alias gsync="git pull && git push"
alias trigger-ci="git commit --allow-empty -m ':robot: Trigger CI' && git push"

# Kubectl
alias k="kubectl"
alias kg="kubectl get"
alias kgp="kubectl get pods"
alias kgc="kubectl get cronjob"
alias kd="kubectl describe"
alias kdp="kubectl describe pod"
alias kdel="kubectl delete"
alias kdelp="kubectl delete pod"
alias kdelstale="kubectl delete pods --field-selector='status.phase!=Pending,status.phase!=Running'"
alias kga="kubectl get all"
alias kpf="kubectl port-forward"
alias kl="kubectl logs"
alias kt="kubetail"
alias pods="kubectl get pods"
alias knamespace="kubectl config set-context --current --namespace"

# Utility
alias ip="curl icanhazip.com"

# Utility (Windows)
alias ll="ls -alh --color=auto"

# Unison (Needed for Mac)
alias unison="unison -ui text"

# Reload Terminal
alias reload="exec zsh"

function kcronEnable() {
    kubectl patch cronjobs $1 -p '{"spec" : {"suspend" : false }}'
}

function kcronDisable() {
    kubectl patch cronjobs $1 -p '{"spec" : {"suspend" : true }}'
}
